/* You can add single-sign-on.component styles to this file */

/* Imports */

/* By Tag */
button {
  &.image {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

/* By Class */
.active-nav-button {
  color: #fff;
  cursor: none !important;
}
.container {
  float: left;
  width: 33%;
}
.container-space {
  margin-left: .5%;
}
.main-height {
  height: 96.665%;
}
.nav-button {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  margin-left: .25%;
}
.padding-left {
  padding-left: .5%;
}
.padding-right {
  padding-right: .5%;
}
.subtitle-height {
  height: 3.335%;
}

/* By ID */
#subtitle {
  display: flex;
  background-color: #4158D0;
  background-image: linear-gradient(240deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
